body {
    background-image: linear-gradient(to bottom right, teal, magenta);
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.right-column {
    flex: 1;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: grid;
    gap: 10px;
}

.oneliner-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#oneliner-output {
    flex: 1;
    resize: none;
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
}

.copy-button {
    margin-left: 10px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

textarea {
    width: 100%;
}

label {
    display: block;
}

input[type="submit"] {
    margin-top: 10px;
    background-image: linear-gradient(to right, teal, magenta);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    filter: brightness(1.1);
}

input[type="text"],
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="checkbox"] {
    vertical-align: middle;
}
