.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.right-column {
    flex: 1;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
}

form {
    display: grid;
    gap: 10px;
}

.oneliner-container {
    display: flex;
}

#oneliner-output {
    flex: 1;
    resize: none;
}

.copy-button {
    margin-left: 10px;
}

textarea {
    width: 100%;
}

label {
    display: block;
}

input[type="submit"] {
    margin-top: 10px;
}
