<!DOCTYPE html>
<html>
<head>
    <title>Aurora Express</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function copyToClipboard() {
            var copyText = document.getElementById("oneliner-output");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("Copied to clipboard: " + copyText.value);
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="left-column">
            <h1>Oneliner Generator</h1>
            <form method="POST" action="/">
                <label for="customer_key">Customer Key:</label>
                <input type="text" id="customer_key" name="customer_key" required><br>

                <label for="playbook">Playbook:</label>
                <input type="text" id="playbook" name="playbook" required><br>

                <label for="branch">Branch:</label>
                <select id="branch" name="branch" required>
                    {% for branch in branches %}
                        <option value="{{ branch }}">{{ branch }}</option>
                    {% endfor %}
                </select><br>

                  <label for="tag">Aurora Version:</label>
                <select id="tag" name="tag" required>
                    {% for version in versions %}
                        <option value="{{ version }}">{{ version }}</option>
                    {% endfor %}
                </select><br>

                <label for="product">Product:</label>
                <select id="product" name="product" required>
                    <option value="hand_e">hand_e</option> 
                    <option value="arm_hand_e">arm_hand_e</option>
                    <option value="hand_lite">hand_lite</option>
                    </select><br>

                <label for="hand_side">Hand Side:</label>
               <select id="hand_side" name="hand_side" required>
                    <option value="both">Bimanual</option> 
                    <option value="left">Left</option>
                    <option value="right">Right</option>
                </select><br>

                <label for="reinstall">Reinstall:</label>
                <input type="checkbox" id="reinstall" name="reinstall"><br>

                <label for="ethercat_right_arm">EtherCAT Right Arm:</label>
                <input type="text" id="ethercat_right_arm" name="ethercat_right_arm" required><br>

                <label for="arm_ip_right">Arm IP Right:</label>
                <input type="text" id="arm_ip_right" name="arm_ip_right" required><br>

                <label for="ethercat_left_arm">EtherCAT Left Arm:</label>
                <input type="text" id="ethercat_left_arm" name="ethercat_left_arm" required><br>

                <label for="arm_ip_left">Arm IP Left:</label>
                <input type="text" id="arm_ip_left" name="arm_ip_left" required><br>

                <label for="ur_robot_type">UR Robot Type:</label>
                <input type="text" id="ur_robot_type" name="ur_robot_type" required><br>

                <input type="submit" value="Generate">
            </form>
        </div>
        <div class="right-column">
            <div class="oneliner-container">
                <h2>Generated Oneliner:</h2>
                <br>
                <textarea id="oneliner-output" readonly>{{ oneliner }}</textarea>
                <button class="copy-button" onclick="copyToClipboard()">Copy</button>
            </div>
        </div>
    </div>
</body>
</html>
